.formWrap{
    max-width: 518px;
    width: 100%;
    margin: 0 auto;
    padding: 85px 45px 100px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 100px;   
    background-image: url('../../assets/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
   
}
input{
    height: 50px;
   
}
.inputField{
    border-radius: 23px;
    background-color: #3680FD;
    color: white;
    padding-left: 23px;
    position: relative;
}
.inputField::placeholder{
    color: white;
    opacity: .5;
}
.inputField:focus{
    background-color: transparent;
    color: #fff;
}
button{
    margin-right: 20px;
    width: 89px;
    height: 40px;
    display: flex;
    justify-content: center;
    background: blueviolet
}
.signButton{
    padding: 0;
    background: cadetblue;
    padding: 5px 17px;
}
a{
    color: white;
    text-decoration: none;
}