.tableData{
    padding-top: 100px;
    padding-bottom: 47px;
    background: #e1e4e8;
}
.creatbtn a{
    display: flex;
    width: 151px;
    height: 37px;
    background: transparent;
    text-align: center;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 20px;
    height: 44px;
    margin-top: 18px;
    margin-right: 48px;
    border: 1px solid rgb(4, 97, 4);
    color: green;
    transition:  all ease-in-out .5;
}
.creatbtn a:hover{background: #fff;color: #000;}
h3{
    text-align: left;
    padding-left: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.userList{
    display: flex;
    flex-wrap: wrap;
}
.Card{
    width: 45%;
    margin: 0 auto;
    margin-bottom: 20px;
    /* display: none; */
} 
.Card ul{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
   
}
.Card ul li{
    width: 46%;
    list-style-type: none;
    padding:15px 0;
    border-bottom: 1px solid #0000ff;
    font-size: 23px;
    margin-right: 20px;
    text-align: left;
}
.Card li span{
    margin-left: 5px;
    color: #808080;
}
.Card button{
    margin-left: 5px;
    width: 73px;
    height: 37px;
}
.Paginations {justify-content: center;}
.Paginations li {width: 40px;height: 40px;margin-right: 10px;}
.Paginations li span{border-radius: 50%;}
.Paginations .pageItem:first-child .pageLink{border-radius: 50%;}
.Paginations .pageItem:last-child .pageLink{border-radius: 50%;}

@media(max-width:1257px){
    .Card ul li{width: 100%;} 
}
@media(max-width:768px){
    .container{padding: 0 15px;}
    table{display: none;}
    .Card{width: 100%;}
    /* .Card ul li{font-size: 20px;} */
    .Card ul{padding: 0;}
    .Card ul li{font-size: 18px;width: 44%;}
    .creatbtn a{margin-top: 0;margin-right: 15px;}
    .tableData{
        padding: 50px 15px 60px 15px;
    }
}
@media(max-width:600px){
    .Card ul{padding: 0;}
    .Card ul li{font-size: 18px;width: 44%;}
    .creatbtn a{margin-bottom: 30px;}
}
@media(max-width:450px){
    .Card ul li{font-size: 18px;width: 87%;margin: 0 auto;}
}