.Fields{
    max-width: 340px;
    width: 100%;
    /* margin-bottom: 20px; */
    background: cadetblue;
    padding: 18px;
}
/* .btn{
    width: 114px;
    color: white;
    margin-top: 12px;
    display: flex;
    align-items: center;
    margin-left: 76px;
    
} */
.btn{display: flex; margin-top: 5px;background: transparent;height: 33px;border: 1px solid #ced4da;color: #fff;font-size: 15px;
margin-left: 65px;margin-top: 10px;border-radius: 4px;align-items: center;
}
.preHours{
    max-width: 340px;
    width: 100%;
    background: cadetblue;
    padding: 10px 21px;
    padding-top: 53px;
    height: 253px;
    margin-right: 15px;

}
h5{color: #fff;text-align: left;}
.preHours button{display: flex; margin-top: 5px;background: transparent;height: 33px;border: 1px solid #ced4da;color: #fff;font-size: 15px;}
/* .searchSections{margin-left: 40px;} */
 .formControl{background: transparent;height: 40px;color: #fff;}
 .formControl:focus{
     background: transparent;
     color: #fff;
 }
 .formControl::placeholder{color: #fff;opacity: .6;}
input{color: #fff;}
.searchSections{
    margin-bottom: 20px;
}

@media(max-width:894px){
    .container{padding: 0 15px;}
    .Fields{
        max-width: 393px;  
    }
   
    .preHours{
        max-width: 393px;
     }
}
@media(max-width:688px){
    .searchSections{flex-direction: column;justify-content: center;}
    .Fields{
        max-width: 594px;
        margin:0 auto 20px; 
        width: 90%;
    }
    .preHours{
        max-width: 594px;
        margin: 0 auto 20px;
        width: 90%;
        order: 2;
        height: 214px;
     }
}